<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Strona główna hotelu</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="wrapper"> 
    <h1>Strona pracownika</h1>
    <div class="box">  
      <div><button type="button" onclick="window.location.href='/wyswietlPokoj'">
        Wyświetl pokoje
      </button></div>
      <div><button type="button" onclick="window.location.href='/pracownik/dodajPokoj'">
        Dodaj pokój
      </button></div>
      <div><button type="button" onclick="window.location.href='/pracownik/wyswietlGosc'">
        Wyświetl gości
      </button></div>
      <div><button type="button" onclick="window.location.href='/pracownik/wyswietlRezerwacje'">
        Wyświetl rezerwacje
      </button></div>
      <div><button type="button" onclick="window.location.href='/logout'">
        Wyloguj
      </button></div>
    </div>
  </div>
  </body>
</html>
<style>
body{
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgb(150, 150, 150);
 }
.wrapper {width: 400px;}
.box {
  display: flex;
  flex-wrap: wrap;
  margin:-10px;
  }
.box>* {
  flex: 1 1 160px;
  margin: 10px;
}

</style>