<!doctype html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dodawanie nowego pokoju</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
      <form th:action="@{/rezerwoj2}" th:object="${GoscIn}" method="post">
        IMIE: <input th:field="*{imie}" type="text"><br>
        NAZWISKO: <input th:field="*{nazwisko}" type="text"><br>
        TELEFON: <input th:field="*{telefon}" type="text"><br>
        DOKUMENT:  <input th:field="*{dokument}" type="text"><br>
        <input type="submit" value="DODAJ">
    </form>
    <h2 th:text="${errorTXT}"></h2>
    <button onclick="window.location.href='/rezerwoj2'">Istniejący klient</button>
    <button onclick="window.location.href='/'">Home page</button>
</body>
</html>
<style>
body{
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgb(150, 150, 150);
}
</style>