<html>
  <head>
    <title>
        Tabela pokoje
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>     
  </head>
  <body>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered">          
                <thead>
                    <tr  class="active">
                        <th>ID</th>  
                        <th>NR_POKOJU</th>
                        <th>ILOSC MIEJSC</th>                                                      
                        <th>OPIS</th>
                        <th>CENA</th>                                                      
                    </tr>
                    
                </thead>
                <tbody>                       
                    <tr th:each ="g : ${goscTab}">               
                        <td> <b  th:utext="${g.id}"></b> </td>
                        <td> <b  th:utext="${g.imie}"></b> </td>
                        <td> <b  th:utext="${g.nazwisko}"></b> </td>
                        <td> <b  th:utext="${g.telefon}"></b> </td>
                        <td> <b  th:utext="${g.dokument}"></b> </td>                         
                    </tr>
                </tbody>          
            </table>    
        </div>
    </div>
  </body>
</html>
